<div class="center">
  <mat-card class="card">
    <mat-tab-group>
  <!-- Login tab eliminado -->
      <mat-tab label="Registro">
        <form [formGroup]="registerForm" (ngSubmit)="doRegister()" class="form">
          <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre">
            <mat-error *ngIf="registerForm.get('nombre')?.invalid">Mínimo 2 caracteres</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
            <mat-error *ngIf="registerForm.get('email')?.hasError('email')">Email inválido</mat-error>
            <mat-error *ngIf="registerForm.get('email')?.hasError('required')">Obligatorio</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="passwordHash">
            <button mat-icon-button matSuffix type="button" (click)="hide = !hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="registerForm.get('passwordHash')?.invalid">Mínimo 6 caracteres</mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">Crear cuenta</button>
        </form>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>